:root {
  --white-color: #fff;
  --darkblue-color: #023167; 
  --lightgrey-color: #edeef2;
  --gray-color: gray;
  --blue-reply-color: #014da5;
}

.App {
  text-align: center;
}

.avatar-logo {
  border: 1px solid var(--white-color);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
}

.App-header {
  background-color: var(--darkblue-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white-color);
}

.App-body {
  background-color: var(--darkblue-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat_window {
  background-color: var(--lightgrey-color);
  width: 40vw;
  min-height: 70vh;
  border-radius: 5px;
  padding: 1em;
}

.message {
  width: 30vw;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message__repplied {
  margin-left:50px;
}

.message__column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.message__date {
  font-size: small;
  color: var(--gray-color);
}

.message__column2 {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 2;
}

.message__img {
  margin: -40px 10px 0px 10px;
  border: 1px solid var(--white-color);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.message__content {
  text-align: left;
  margin-top: 15px;
  background-color: var(--white-color);
  border: 1px solid black;
  border-color: var(--white-color);
  min-height: 8vh;
  width: max-content;
  max-width: 80%;
  border-radius: 10px;
  overflow-wrap: break-word;
  padding: 10px 10px 10px 10px;
  
}

.message__username {
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
}

.message__text {
  font-size: 14px;
  color: var(--gray-color);
}

.message__time-reply {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: small;
  color: var(--gray-color);
}

.message__reply {
  margin-left: 5px;
  color:  var(--blue-reply-color);
  font-weight: bold;
  cursor: pointer;
}

.new__message {
  display: flex;
  flex-direction: row;
  background-color: var(--white-color);
  z-index: 99;
  padding: 5px;
  border-radius: 5px;
}

.message__input {
  background-color: var(--white);
  height: 40px;
  width: 100%;
  border: 0px var(--white-color); 
}

.message__input:focus {
  outline: none;
}

.button__new {
  border-radius: 5px;
  width: 50px;
  background-color: var(--darkblue-color);
  color: var(--white-color);
  cursor: pointer;
}

.button__send{
  border-radius: 5px;
  width: 200px;
  background-color: var(--darkblue-color);
  color: var(--white-color);
  cursor: pointer;
}

.send__image {
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

